.hero-section {
  height: 600px;
  width: 100%;
  background-image: url(images/bob-background.png);
  background-color: black;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.hero-section p {
  text-align: right;
  color: white;
  padding: 24px;
  font-size: 20px;
}

.hero-section a {
  text-align: right;
  color: white;
  padding: 24px;
  font-size: 20px;
}
.hero-h1 {
  font-weight: 900;
  font-size: 72px;
  color: white;
  text-align: center;
  padding-top: 24px;
}

.hero-section img {
  width: 275px;
  display: block;
  margin: auto;
}

.text-output {
  padding-bottom: 40px;
}

.bob-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  margin: auto;
  background-color: #B3D5C4;
}

.bob-footer img {
  padding: 0 24px;
}

.happy {
  padding-top: 40px;
  margin-bottom: 40px;
  font-family: 'Big Calson';
}