@font-face {
  font-family: 'FF';
  src: url('fonts/ff.woff') format('woff'),
    url('fonts/finalf.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.final__ipsum__title {
  font-family: 'FF';
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3px;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 5%;
  width: 25rem; /* Need a specific value to work */
}
.final__ipsum__image {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
}
.final__ipsum__body {
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
}
.final__ipsum__body {
  font-size: 1.3rem;
}
.final__ipsum__caption {
  text-align: center;
  margin-bottom: 2rem;
  color: #005B9A;
}
.final__ipsum__body {
  width: 100%;
  background-color: #74C2E1;
}
.final__ipsum__form {
  padding: 1rem;
  text-align: center;
  width: 675px;
  margin: 0 auto;
}
.final__ipsum__sentences {
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  /* remove shadow */
}
.final__ipsum__button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  background-color: #005B9A;
  color: white;
}
.final__ipsum__button:hover {
  cursor: pointer;
}