* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.final__ipsum__title {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 5%;
  width: 300px; /* Need a specific value to work */
}
.final__ipsum__image {
  border: 2px solid blue;
  max-width: 100%;
  height: auto;

}